.note-list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 10px;
}
.note-list .note-item {
  background-color: #fec107;
  margin: 10px 10px;
  min-height: 250px;
  max-width: 255px;
  min-width: 255px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 15px;
  line-height: 25px;
  position: relative;
}
.note-list .wrap-list {
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  align-items: center;
}
.note-list .btn-box .remove-item:hover {
  background: #d02626;
}
